<div class="container">
  <h1>Angular Pipes</h1>
  <p>Wait for it... {{p | async}}</p>
  <p>Date: {{myDate$ | async | date: 'dd MMMM yyyy, HH:mm:ss': '': 'ru'}}</p>
<!--  <p>{{e | number: '2.1-5'}}</p>-->
<!--  <p>{{e | number: '3.1-2'}}</p>-->
<!--  <p>{{e | number: '1.0-0'}}</p>-->
<!--  <p>{{str | uppercase | lowercase | titlecase}}</p>-->
<!--  <p>{{str | titlecase | slice:1:-2}}</p>-->
<!--  <p>{{date | date: 'dd MMMM yy, HH:mm:ss': '3': 'ru'}}</p>-->
<!--  <p>{{float}}</p>-->
<!--  <p>{{float | currency}}</p>-->
<!--  <p>{{float | percent: '3.1-2'}}</p>-->
<!--  <pre>{{obj | json}}</pre>-->
<!--  <p>{{10 | mult:5}}</p>-->
<!--  <p>{{ 'Hello World      ' | exMarks}}</p>-->


<!--  <button class="btn" (click)="searchField = 'title'">Title</button>-->
<!--  <button class="btn" (click)="searchField = 'text'">Text</button>-->
<!--  <hr>-->
<!--  <button class="btn" (click)="addPost()">Add Post</button>-->

<!--  <input type="text" [(ngModel)]="search">-->
<!--  <div-->
<!--    *ngFor="let post of posts | filter:search:searchField"-->
<!--    class="card">-->
<!--    <h2>{{post.title}}</h2>-->
<!--    <p>{{post.text}}</p>-->

<!--  </div>-->
</div>
