<div class="container">
  <h1>Angular services</h1>
  <div class="card">
    <h2>AppCounter: {{appCounterService.counter}}</h2>
    <button class="btn" (click)="appCounterService.increase()">+</button>
    <button class="btn" (click)="appCounterService.decrease()">-</button>
  </div>
  <div class="card">
    <h2>LocalCounter: {{localCounterService.counter}}</h2>
    <button class="btn" (click)="localCounterService.increase()">+</button>
    <button class="btn" (click)="localCounterService.decrease()">-</button>
  </div>
  <br>
  <app-counter></app-counter>
</div>
